/*
COLOURS
Navy - #1e4885 // rgb(30,72,133)
Eggplant - #733f75 // rgb(115,63,117)
Gold - #fcf8c0 // rgb(225,220,153)



*/

body {
  background: #fcf8c0;
  color: #733f75;
  margin-top: 5rem;
  padding: 5%;
  font-family: 'Palanquin', sans-serif;
}

.wedding-bg {
  background-color: #733f75;
}

.btn-navy {
  background: #1e4885;
  color: #fcf8c0;
  border: #fcf8c0;
}

.btn-navy:hover {
  background: #fcf8c0;
  color: #1e4885;
}

.btn-eggplant {
  background: #733f75;
  color: #fcf8c0;
  padding: 2%;
}

.wedding-border-bottom {
  border-bottom: solid 1px #733f75;
}

.wedding-border-top {
  border-top: solid 1px #733f75;
}

.wedding-form {
  border: solid 1px #733f75;
}

input:focus {
  background: #733f75 !important;
  color: #fcf8c0 !important;
}

.table-navy, .table-eggplant {
  table-layout: fixed;
}

.table-navy th {
  background: #1e4885;
  color: #fcf8c0;
  width: 33%;
}

.table-navy td {
  color: #1e4885;
  border: solid 1px #1e4885;
  width: 33%;
}

.table-eggplant th {
  background: #733f75;
  color: #fcf8c0;
  width: 33%;
}

.table-eggplant td {
  color: #733f75;
  border: solid 1px #733f75;
  width: 33%;
}

#photoDiv img {
  max-width: 100%;
  height: auto;
}

#fileBtn {
  position: absolute;
  left: -5000%;
}

#uploadBtn, #submitPhotoBtn {
  margin: 0 6%;
}

#submitPhotoBtn {
  display: none;
}

.imageTile {
  width: 30%;
  height: 100px;
  background-size: cover;
  margin: 1%;
  border: solid 1px #733f75;
  box-sizing: border-box;
}

#photoModal {
  height: 92%;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: none;
}

#modalPhotoContainer {
  height: 90%;
  width: 95%;
  position: absolute;
  top: 10%;
  right: 2.5%;
}

#modalPhotoContainer img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: solid 1px #733f75;
}

#modalPhotoControls {
  width: 95%;
  margin: 2.5%;
  padding: 2% 5%;
  z-index: 99;
  font-size: 1.2rem;
}

#nextPhoto, #prevPhoto {
  font-size: 1.2rem;
}

.photoControl {
  /*background-color: #733f75;*/
  background-color: #fcf8c0;
  padding: 1% 4%;
  /*color: #fcf8c0;*/
  color: #733f75;
}

/*.thead-navy {
  background: #1e4885;
  color: #fcf8c0;
}

.tbody-navy {
  color: #1e4885;
  border: solid 1px #1e4885;
}*/

@media only screen and (max-width: 768px) {
#map {
  width: 100%;
  height: 768px;
  max-height: 400px;
}
}

@media only screen and (min-width: 768px) {
#map {
  width: 100%;
  height: 500px;
  max-width: 100%;
  max-height: 500px;
}
}

.site-header .navbar-nav .nav-link {
  color: rgb(225, 220, 153);
}

.site-header .navbar-nav .nav-link:hover {
  color: rgb(225, 220, 153);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand {
    color: rgb(225, 220, 153) !important;
}

.content-section {
  background: #fcf8c0;
  padding: 10px 20px;
  border: 1px solid #733f75;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a:hover {
  text-decoration: none;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2rem;
}

