{% extends 'layout.html' %}

{% block content %}

<div class="text-center w-100">
    <p>For the adult menus, you can choose what you would like on the day. You do not need to let us know what you want now.</p>
    <p>Please let us know about allergies/dietary requirements, and what your kids will be eating if they will be eating from the kids' menu.</p>
</div>

<div class="mt-4 w-100 text-center">
    <!-- Lunch menu -->
    <div>
        <h2><u>Lunch - Adult's Menu</u></h2>
        <h5><u>Starters</u></h5>
        <p>Chintzy gazpacho soup or amuse bouche.</p>
        <h5><u>Mains</u></h5>
        <p>Kentish slow cooked corriander & garlic lamb.<br>
            Slow cooked pork marinated in honey.<br>
            Beetroot and goats' cheese tart.</p>
        <p><strong>For the table:</strong></p>
        <p>Homemade breads.<br>
            Baby salad leaves with parmesan & Secret Garden dressing.<br>
            Panzanella, creamy new potato salad, ruby coleslaw, greek salad.</p>
        <h5><u>Desserts</u></h5>
        <p>Trio of seasonal Secret Garden desserts</p>

        <h2><u>Lunch - Kid's Menu</u></h2>
        <p>Please choose 1 of each of the below for each of your children.</p>
        <h5><u>Starters</u></h5>
        <p>Vegetable sticks with homemade dip.<br>
        Sizzling chicken strips & BBQ sauce.</p>
        <h5><u>Mains</u></h5>
        <p>Pasta carbonara with bacon, topped with parmesan.<br>
        Baked haddock fish fingers, chips and peas.</p>
        <h5><u>Desserts</u></h5>
        <p>Chocolate brownie sundae.<br>
        Ice cream.</p>
    </div>
    <!-- Dinner menu -->
    <div class="mt-4">
        <h2><u>Dinner</u></h2>
        <p>The dinner menu will be served to <u>all</u> guests.</p>
        <h4 class="mt-2">Mexican Fajita Station</h4>
        <p>Warm tortillas, fajitas, salsa, guacamole, lettuce, tomato, cheddar cheese, <br> 
        sizzling strips of chicken, beef and vegetable stir fry.</p>
    </div>
</div>

{% endblock content %}