{% extends 'layout.html' %}

{% block content %}

<div>
    <p class="mt-4 giftPoem">
        We’ve just moved home and have filled it with stuff,
        <br>
        From books to sofas, we’ve certainly got enough!
        <br>
        Instead of more wine glasses, we’d really love some cash,
        <br>
        So that we can book a perfect honeymoon and head off in a dash.
        <br>
        A romantic beach break would really do the trick,
        <br>
        As soon as we can afford it, we’ll be on that plane quick!
    </p>
</div>

{% endblock content %}
