{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                <h3 class="mt-2 mb-4">{{ countdown.days }} days left until our wedding!</h3>
                <h5 class="mt-4 mb-4">For further details about the day, see <a href="{{url_for('main.on_the_day')}}">On The Day</a></h5>
                <p>Click the markers on the map for venue location details and local hotels.</p>
            </div>
        </div>
        <div class="col-sm">
            <div id="mapText" class="mt-4 mb-4">
            </div>
            <div id="map" class="border rounded"></div>
        </div>
    </div>
</div>

<div id="script"></div>


<script src=" {{ url_for('static', filename='js/map_locations.js') }} " type="text/javascript"></script>
<script src=" {{ url_for('static', filename='js/map.js') }} " type="text/javascript"></script>

{% endblock content %}
