{% extends 'layout.html' %}

{% block content %}

<div>
    <h4 class="mt-2 mb-4">The day's timetable (some things might change):</h4>
    <ul>
        <li class="mt-2">12:00 - Groom arrives</li>
        <li class="mt-2">12:30 - Guests arrive</li>
        <li class="mt-2">12:45 - Bride arrives</li>
        <li class="mt-2">13:00 - Ceremony</li>
        <li class="mt-2">13:30 - Drinks and photos</li>
        <li class="mt-2">14:30 - Lunch</li>
        <li class="mt-2">16:30 - Speeches</li>
        <li class="mt-2">17:00 - Evening entertainment</li>
        <li>18:00 - Cut cake and first dance</li>
        <li class="mt-2">19:00 - Dinner</li>
        <li class="mt-2">23:15 - Last orders</li>
        <li class="mt-2">23:30 - Day finished</li>
    </ul>
</div>

{% endblock content %}
