{% extends 'layout.html' %}

{% block content %}

<h1>{{ amount }}</h1>

  <script
    src="https://www.paypal.com/sdk/js?client-id={{ client }}&currency=GBP">
  </script>

  <div id="paypal-button-container"></div>

  <script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ amount }}'
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                alert('Thanks for the gift!' + details.payer.name.given_name);
                return fetch('/paypal-transaction-complete', {
                    method: 'post',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderID: data.orderID
                    })
                });
            });
        }
    }).render('#paypal-button-container');
  </script>

{% endblock content %}
