{% extends 'layout.html' %}

{% block content %}


        <!-- START TABBED CONTENT CONTROLS -->

        <ul class="nav">
            <li class="active mr-auto">
                <a data-toggle="tab" href="#dayGuests" class="btn btn-navy mb-4">Day Guests</a>
            </li>
            <li class="ml-auto">
                <a data-toggle="tab" href="#eveningGuests" class="btn btn-navy mb-4">Evening Guests</a>
            </li>
        </ul>

        <!-- END TABBED CONTENT CONTROLS -->

        <!-- START DAY GUESTS SECTION -->

        <div class="tab-content content-section text-center">
            <div id="dayGuests" class="tab-pane fade in active">
                {% if day_guests %}
                    <h4 class="mt-2">Day Guests</h4>

                    <!-- START RSVPED DAY GUESTS SECTION -->

                    <h5 class="mt-2">RSVPed</h5>
                    <div class="list-group">
                        {% for guest in day_guests %}
                            {% if guest.rsvp %}
                                <a href="{{ url_for('admin.edit_guest', guest_name=guest.name)}}"
                                class="btn-eggplant">
                                    <div class="d-flex flex-row">
                                        <div class="flex-fill">
                                            {{ guest.name }}
                                        </div>
                                        <div class="flex-fill">
                                            +{{ guest.additional_guests }}
                                        </div>
                                        <div class="flex-fill">
                                            {% if guest.is_attending == 'Yes' %}
                                                &#10004;
                                            {% elif guest.is_attending == 'No' %}
                                                &#10006;
                                            {% else %}
                                                &#8264;
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- END RSVPED DAY GUESTS SECTION -->

                    <!-- START NOT RSVPED DAY GUESTS SECTION -->

                    <h5 class="mt-2">Not RSVPed</h5>
                    <div class="list-group">
                        {% for guest in day_guests %}
                            {% if not guest.rsvp %}
                                <a href="{{ url_for('admin.edit_guest', guest_name=guest.name)}}"
                                class="btn-eggplant">
                                    <div class="d-flex flex-row">
                                        <div class="flex-fill">
                                            {{ guest.name }}
                                        </div>
                                        <div class="flex-fill">
                                            +{{ guest.additional_guests }}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- END NOT RSVPED DAY GUESTS SECTION -->

                {% else %}
                    <h4 class="mt-4">No day guests invited yet ...</h4>
                {% endif %}
            </div>

        <!-- START EVENING GUESTS SECTION -->

            <div id="eveningGuests" class="tab-pane fade">
                {% if evening_guests %}
                    <h4 class="mt-2">Evening Guests</h4>

                    <!-- STARTED RSVPED EVENING GUESTS SECTION -->

                    <h5 class="mt-2">RSVPed</h5>
                    <div class="list-group">
                        {% for guest in evening_guests %}
                            {% if guest.rsvp %}
                                <a href="{{ url_for('admin.edit_guest', guest_name=guest.name)}}"
                                class="btn-eggplant">
                                    <div class="d-flex flex-row">
                                        <div class="flex-fill">
                                            {{ guest.name }}
                                        </div>
                                        <div class="flex-fill">
                                            +{{ guest.additional_guests }}
                                        </div>
                                        <div class="flex-fill">
                                            {% if guest.is_attending == 'Yes' %}
                                                &#10004;
                                            {% elif guest.is_attending == 'No' %}
                                                &#10006;
                                            {% else %}
                                                &#8264;
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- END RSVPED EVENING GUESTS SECTION -->

                    <!-- START NOT RSVPED EVENING GUESTS SECTION -->

                    <h5 class="mt-2">Not RSVPed</h5>
                    <div class="list-group">
                        {% for guest in evening_guests %}
                            {% if not guest.rsvp %}
                                <a href="{{ url_for('admin.edit_guest', guest_name=guest.name)}}"
                                class="btn-eggplant">
                                    <div class="d-flex flex-row">
                                        <div class="flex-fill">
                                            {{ guest.name }}
                                        </div>
                                        <div class="flex-fill">
                                            +{{ guest.additional_guests }}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                   <!-- END NOT RSVPED EVENING GUESTS SECTION -->

                {% else %}
                    <h4 class="mt-4">No evening guests invited yet ...</h4>
                {% endif %}
            </div>

        <!-- END EVENING GUESTS SECTION -->

        </div>
    </div>

    <a href="{{ url_for('admin.add_guests') }}" class="fixed-bottom">
        <button class="btn btn-navy m-3 pl-3 pr-3">Add Guests</button>
    </a>

{% endblock content %}
